* {
    padding: 0;
    margin: 0;
}

.w {
    width: 100%;
    margin: auto;
}

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

   
.header {
    height: 60px;
    margin:  auto;
    display: block ;

}

.logo {
    
    float: left;
    margin: 19px;
    margin-right: 1rem;
    margin-left: 240px;


}
.logo img {
    display: block;
    float: left;
    width: 107px;
    height: 22px;

}
.nav {
    float: left;
    margin: 19px ;
    margin-left: 40px;
}

.nav ul li {
    float: left;
    margin: 0 10px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 ;
    line-height: 22px;
    font-size: 16px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
.tiaozhan{
    float: left;
    margin: 10px;
}
.tiaozhan img {
    display: block;
    float: left;
    width: 115px;
    height: 40px;

}
.nav-item {
    float: left;
    margin: 19px ;
    margin-left: 21%;
}

.nav-item ul li {
    float: left;
    margin: 0 10px;
}

.nav-item ul li a {
    display: block;
    height: 42px;
    padding: 0 ;
    line-height: 22px;
    font-size: 16px;
    color: #050505;
}

.nav-item ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
.container{
    float: left;
    margin-left: 10% ;
    margin-right: 10%;

    height: 5000px;
    width: 960px;
}
.content{
    float: left;
    background-color: #8ab3ca;
    width: 60%;
}

.content ul li div{
    
    height: 150px;
}
.content ul li div img {
    display: block;
    float: right;
    width: 120px;
    height: 80px;

}
.right{
    float: right;
    background-color: #3e6d89;
    width: 38%;
}
.right ul li div{
    height: 150px;
}